# DeployX Environment Variables Example

# Database Authentication
MONGODB_URI=
JWT_SECRET=your-jwt-secret

# GitHub OAuth Integration
GITHUB_CLIENT_ID=49f4444b0d6145cc72a581405803c562ce7333bf
GITHUB_CLIENT_SECRET=49f4444b0d6145cc72a581405803c562ce7333bf

# Cloudflare Integration
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000
